<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>twitterBearToken</key>
	<string>AAAAAAAAAAAAAAAAAAAAAAS1nAEAAAAA%2FZTCWWXU1BQgnEyHF1zX19VrPu8%3DSjvO5URtGGB5dLT37PYhYi1tPJ83AzdF7zbfsW4DIeZh6PgIyv</string>
	<key>aucaTwitterID</key>
	<string>705474792</string>
</dict>
</plist>
